@import "../../../styles.scss";

// pc-focused styling
#footer {
  background-color: rgba(50, 0, 150, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 5%;
  flex: 1;

  img {
    max-width: 1rem;
  }

  #footer-grid {
    display: grid;
    grid-template-columns: auto;
    margin-top: 0.5rem;
    font-size: 0.9rem;

    .footer-item {
      margin-top: 0.5rem;
    }
  }

  // pc & tablet styling
  @media (screen and min-width: $mobile-breakpoint) {
    #footer-grid {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 0.5rem;

      .footer-item {
        margin: 0 5rem;
      }
    }
  }
}
