@import "../../../styles.scss";

.content-container {
  display: flex;
  flex-direction: column;

  @media (screen and min-width: $mobile-breakpoint) {
    flex-direction: row;
  }

  #user-info {
    margin: 1rem;
  }
}
